.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  flex-direction: column;
  background-color: #f3e6ce;
  flex: 1;
  display: flex;
  max-width: 1280px;
  min-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid red;
  align-items: center;
}



nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
  top: 0;
  z-index: 1000;
}

nav a {
  color: rgb(129, 99, 99);
  background-color: #f3ce8e;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2em;
  display: flex;
  gap: 2rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin: 0.3em;
}

nav a:hover {
  background-color: #e2b865;
  color: rgb(34, 72, 72);
}

nav a:active {
  background-color: #d0a84a;
}

li {
  list-style: none;
}



button, a {
  background-color: #e2b865;
  color: #3c3939;
  border: none;
  border-radius: 2em;
  padding: 0.6em 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0.5em;
}

button:hover, a:hover {
  background-color: #2a2a2a;
  color: #f3ce8e;
}


a {
  transition: all 0.3s ease;
  text-decoration: none;
 
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
  min-width: 920px;
}

.box {
  background-color: #f7efe2;
  flex-direction: row;
  width: 30vw;
  height: auto;
  
}